<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="vzaar.token" value="u2nd3DVI71jQ7dTtz9mHA953XeIQeodmZvSE6AbTX8"/>
    <add key="vzaar.secret" value="skitsanos"/>
  </appSettings>
  <!--<appSettings>
		<add key="vzaar.token" value="YOUR_VZAAR_API_TOKEN"/>
		<add key="vzaar.secret" value="YOUR_VZAAR_USERNAME"/>
	</appSettings>-->
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <customErrors mode="Off">
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
